.marascala{
background-color: red;
text-align: center;
border-style: solid;
border-color: blue;
border: width 60px;
padding: 10px;

border-radius: 990px;

}

.nav-link{
    font-size: 20px;
    color: aqua;
}
.contenitore{
    border-style: solid;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.simbolo{
    font-size: 40px;

}